body{
    background-color: aqua;
}
h1{font-size: 60px;
color: rgb(0, 87, 187);
text-align: center;
}
img{
    width: 30%;
}
.cabecalho{
    background-color: rgb(20, 131, 125);
}
.logocabecalho{
    width: 100px;
}
.lista_cabecalho{
    display: flex;
    margin-left: 500px;
}
.item_lista_cabecalho{
    color: rgb(0, 0, 0);
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}
